{"openapi":"3.1.0","info":{"title":"캡스톤 백엔드","description":"스웨거 API 명세.","version":"v1.0.0"},"servers":[{"url":"http://pcserver.cloud","description":"Generated server url"}],"security":[{"cookieAuth":[]}],"tags":[{"name":"Auth","description":"인증 API — 회원가입, 로그인, 내 정보 조회, 로그아웃"},{"name":"Profile","description":"프로필 API"},{"name":"Resume","description":"이력서 API — 조회 및 생성"},{"name":"Experience","description":"프로젝트 활동 기록 API"},{"name":"Project","description":"프로젝트 API — 조회, 생성, 지원, 상태 변경"},{"name":"Notification","description":"알림 API"}],"paths":{"/api/resume/generate":{"post":{"tags":["Resume"],"summary":"이력서 생성","description":"AI가 활동 기록을 분석하여 이력서를 생성합니다. 기존 이력서가 있으면 덮어씁니다.","operationId":"generate","responses":{"200":{"description":"생성 요청 성공"},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/projects":{"get":{"tags":["Project"],"summary":"프로젝트 목록 조회","description":"모든 프로젝트를 필터링 및 페이지네이션하여 조회합니다. 인증 불필요.","operationId":"getProjects","parameters":[{"name":"category","in":"query","description":"카테고리 필터 (선택)","required":false,"schema":{"type":"string"},"example":"모바일"},{"name":"page","in":"query","description":"페이지 번호 (기본값: 1)","required":false,"schema":{"type":"integer","default":1,"minimum":1},"example":1},{"name":"limit","in":"query","description":"페이지당 항목 수 (기본값: 10)","required":false,"schema":{"type":"integer","default":10,"minimum":1},"example":10},{"name":"search","in":"query","description":"검색어 (선택)","required":false,"schema":{"type":"string"},"example":"캠퍼스"}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectListResponse"}}}}}},"post":{"tags":["Project"],"summary":"프로젝트 생성","description":"새 프로젝트를 생성합니다.","operationId":"createProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequest"}}},"required":true},"responses":{"201":{"description":"프로젝트 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetailResponse"}}}},"400":{"description":"유효성 검사 실패"},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/projects/{id}/apply":{"post":{"tags":["Project"],"summary":"프로젝트 지원","description":"특정 프로젝트에 팀원으로 지원합니다.","operationId":"applyProject","parameters":[{"name":"id","in":"path","description":"프로젝트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"지원 성공"},"401":{"description":"인증 필요"},"409":{"description":"이미 지원한 프로젝트"}},"security":[{"cookieAuth":[]}]}},"/api/experiences/{id}/summarize":{"post":{"tags":["Experience"],"summary":"활동 기록 AI 요약","description":"활동 기록을 AI가 분석하여 요약합니다.","operationId":"summarize","parameters":[{"name":"id","in":"path","description":"활동 기록 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"요약 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AiSummaryResponse"}}}},"401":{"description":"인증 필요"},"404":{"description":"활동 기록 없음"}},"security":[{"cookieAuth":[]}]}},"/api/experiences/project/{projectId}":{"get":{"tags":["Experience"],"summary":"프로젝트 활동 목록 조회","description":"특정 프로젝트에 대한 내 활동 기록 목록을 조회합니다.","operationId":"getByProject","parameters":[{"name":"projectId","in":"path","description":"프로젝트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExperienceResponse"}}}}},"401":{"description":"인증 필요"},"404":{"description":"프로젝트 없음"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["Experience"],"summary":"활동 기록 등록/수정","description":"프로젝트 활동 기록을 등록하거나 기존 기록을 수정합니다 (upsert).","operationId":"upsert","parameters":[{"name":"projectId","in":"path","description":"프로젝트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperienceRequest"}}},"required":true},"responses":{"200":{"description":"등록/수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperienceResponse"}}}},"400":{"description":"유효성 검사 실패"},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/auth/register":{"post":{"tags":["Auth"],"summary":"회원가입","description":"새 계정을 생성합니다. 성공 시 생성된 사용자 정보를 반환합니다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"201":{"description":"회원가입 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"400":{"description":"유효성 검사 실패"},"409":{"description":"이미 존재하는 이메일"}}}},"/api/auth/logout":{"post":{"tags":["Auth"],"summary":"로그아웃","description":"현재 세션을 무효화합니다.","operationId":"logout","responses":{"204":{"description":"로그아웃 성공"}}}},"/api/auth/login":{"post":{"tags":["Auth"],"summary":"로그인","description":"이메일/비밀번호로 로그인합니다. 성공 시 JSESSIONID 쿠키가 설정됩니다. 이 엔드포인트는 Spring Security 필터가 처리합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"이메일 또는 비밀번호 불일치"}}}},"/api/projects/{id}/status":{"patch":{"tags":["Project"],"summary":"프로젝트 상태 변경","description":"프로젝트 상태를 변경합니다. 프로젝트 생성자만 가능합니다.","operationId":"updateStatus","parameters":[{"name":"id","in":"path","description":"프로젝트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectStatusRequest"},"examples":{"모집 중":{"description":"모집 중","value":{"status":"recruiting"}},"진행 중":{"description":"진행 중","value":{"status":"in-progress"}},"완료":{"description":"완료","value":{"status":"completed"}}}}},"required":true},"responses":{"200":{"description":"상태 변경 성공"},"400":{"description":"유효성 검사 실패"},"401":{"description":"인증 필요"},"403":{"description":"권한 없음 (생성자 아님)"}},"security":[{"cookieAuth":[]}]}},"/api/profile":{"get":{"tags":["Profile"],"summary":"내 프로필 조회","description":"현재 인증된 사용자의 프로필 정보를 반환합니다.","operationId":"getProfile","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["Profile"],"summary":"프로필 수정","description":"현재 인증된 사용자의 프로필 정보를 수정합니다. null 필드는 무시됩니다.","operationId":"updateProfile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdateProfileRequest"},"profileImage":{"type":"string","format":"binary"}},"required":["request"]}}}},"responses":{"200":{"description":"수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}},"400":{"description":"유효성 검사 실패"},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/notifications/{id}/read":{"patch":{"tags":["Notification"],"summary":"단일 알림 읽음 처리","description":"특정 알림을 읽음으로 표시합니다.","operationId":"markAsRead","parameters":[{"name":"id","in":"path","description":"알림 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"처리 성공"},"404":{"description":"알림 없음"}},"security":[{"cookieAuth":[]}]}},"/api/notifications/read-all":{"patch":{"tags":["Notification"],"summary":"모든 알림 읽음 처리","description":"현재 사용자의 모든 알림을 읽음으로 표시합니다.","operationId":"markAllAsRead","responses":{"200":{"description":"처리 성공"}},"security":[{"cookieAuth":[]}]}},"/api/resume":{"get":{"tags":["Resume"],"summary":"이력서 조회","description":"현재 사용자의 이력서를 조회합니다. AI 요약된 활동 기록이 포함됩니다.","operationId":"getResume","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumeResponse"}}}},"401":{"description":"인증 필요"},"404":{"description":"생성된 이력서 없음"}},"security":[{"cookieAuth":[]}]}},"/api/projects/{id}":{"get":{"tags":["Project"],"summary":"프로젝트 상세 조회","description":"특정 프로젝트의 상세 정보를 조회합니다. 인증 불필요.","operationId":"getProject","parameters":[{"name":"id","in":"path","description":"프로젝트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetailResponse"}}}},"404":{"description":"프로젝트 없음"}}}},"/api/projects/my":{"get":{"tags":["Project"],"summary":"내 프로젝트 목록 조회","description":"참여 중이거나 생성한 프로젝트 목록을 조회합니다.","operationId":"getMyProjects","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MyProjectResponse"}}}}},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/notifications":{"get":{"tags":["Notification"],"summary":"알림 목록 조회","description":"현재 사용자의 모든 알림을 조회합니다.","operationId":"getNotifications","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}}}}},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}},"/api/auth/me":{"get":{"tags":["Auth"],"summary":"내 정보 조회","description":"현재 인증된 사용자의 정보를 반환합니다.","operationId":"me","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"인증 필요"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"CreateProjectRequest":{"type":"object","properties":{"title":{"type":"string","description":"프로젝트 제목","example":"스마트 캠퍼스 앱 개발"},"description":{"type":"string","description":"프로젝트 설명","example":"React Native와 Spring Boot를 활용한 캠퍼스 정보 앱"},"category":{"type":"string","description":"카테고리","example":"모바일"},"skills":{"type":"array","description":"사용 기술 스택","example":["React Native","Spring Boot","MySQL"],"items":{"type":"string"}},"maxMembers":{"type":"integer","format":"int32","description":"최대 팀원 수 (2명 이상)","example":4,"minimum":2},"deadline":{"type":"string","format":"date","description":"모집 마감일 (미래 날짜, yyyy-MM-dd)","example":"2026-06-30"}},"required":["category","title"]},"ProjectDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"프로젝트 고유 ID","example":42},"title":{"type":"string","description":"프로젝트 제목","example":"스마트 캠퍼스 앱 개발"},"description":{"type":"string","description":"프로젝트 설명","example":"React Native와 Spring Boot를 활용한 캠퍼스 정보 앱"},"category":{"type":"string","description":"카테고리","example":"모바일"},"skills":{"type":"array","items":{"example":"React Native"}},"currentMembers":{"type":"integer","format":"int32","description":"현재 팀원 수","example":2},"maxMembers":{"type":"integer","format":"int32","description":"최대 팀원 수","example":4},"deadline":{"type":"string","description":"모집 마감일 (yyyy-MM-dd)","example":"2026-06-30"},"author":{"type":"string","description":"프로젝트 생성자 이름","example":"홍길동"},"createdAt":{"type":"string","description":"프로젝트 생성일 (yyyy-MM-dd)","example":"2026-03-01"}}},"AiSummaryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"활동 기록 고유 ID","example":7},"aiSummary":{"type":"string","description":"AI가 생성한 요약문","example":"UI 구현 및 REST API 연동 경험. React Native 컴포넌트 설계와 Spring Boot 백엔드 통신 구현."}}},"ExperienceRequest":{"type":"object","properties":{"content":{"type":"string","description":"활동 내용","example":"React Native를 사용하여 메인 화면 UI를 구현하고 API 연동을 담당했습니다."}},"required":["content"]},"ExperienceResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"활동 기록 고유 ID","example":7},"content":{"type":"string","description":"활동 내용 (직접 작성)","example":"React Native를 사용하여 메인 화면 UI를 구현하고 API 연동을 담당했습니다."},"aiSummary":{"type":"string","description":"AI 요약 (미생성 시 null)","example":"UI 구현 및 REST API 연동 경험. React Native 컴포넌트 설계와 Spring Boot 백엔드 통신 구현."},"createdAt":{"type":"string","description":"기록 생성일 (yyyy-MM-dd)","example":"2026-03-20"}}},"RegisterRequest":{"type":"object","properties":{"email":{"type":"string","description":"사용자 이메일","example":"hong@kyonggi.ac.kr"},"password":{"type":"string","description":"비밀번호 (8~100자)","example":"password123!","maxLength":100,"minLength":8},"name":{"type":"string","description":"이름 (2~50자)","example":"홍길동","maxLength":50,"minLength":2}},"required":["email","name","password"]},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"사용자 고유 ID","example":42},"email":{"type":"string","description":"사용자 이메일","example":"hong@kyonggi.ac.kr"},"name":{"type":"string","description":"사용자 이름","example":"홍길동"},"profileImage":{"type":"string","description":"프로필 이미지 URL (미설정 시 null)","example":"https://cdn.example.com/profile/hong.jpg"}}},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","description":"사용자 이메일","example":"hong@kyonggi.ac.kr"},"password":{"type":"string","description":"비밀번호 (8자 이상)","example":"password123!"}},"required":["email","password"]},"UpdateProjectStatusRequest":{"type":"object","properties":{"status":{"type":"string","description":"변경할 프로젝트 상태","enum":["recruiting","in-progress","completed"],"example":"in-progress"}},"required":["status"]},"UpdateProfileRequest":{"type":"object","properties":{"name":{"type":"string","description":"이름 (2~50자)","example":"홍길동","maxLength":50,"minLength":2},"phone":{"type":"string","description":"전화번호","example":"010-1234-5678","maxLength":20,"minLength":0},"github":{"type":"string","description":"GitHub 프로필 URL","example":"https://github.com/honggildong","maxLength":200,"minLength":0},"blog":{"type":"string","description":"기술 블로그 URL","example":"https://velog.io/@honggildong","maxLength":200,"minLength":0}}},"ProfileResponse":{"type":"object","properties":{"name":{"type":"string","description":"사용자 이름","example":"홍길동"},"email":{"type":"string","description":"사용자 이메일","example":"hong@kyonggi.ac.kr"},"phone":{"type":"string","description":"전화번호 (미설정 시 null)","example":"010-1234-5678"},"github":{"type":"string","description":"GitHub 프로필 URL (미설정 시 null)","example":"https://github.com/honggildong"},"blog":{"type":"string","description":"기술 블로그 URL (미설정 시 null)","example":"https://velog.io/@honggildong"},"profileImage":{"type":"string","description":"프로필 이미지 URL (미설정 시 null)","example":"https://cdn.example.com/profile/hong.jpg"}}},"SummarizedExperienceResponse":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64","description":"프로젝트 고유 ID","example":42},"projectTitle":{"type":"string","description":"프로젝트 제목","example":"스마트 캠퍼스 앱 개발"},"keyPoints":{"type":"array","items":{"example":"REST API 연동 경험"}}}},"ResumeResponse":{"type":"object","properties":{"basicInfo":{"$ref":"#/components/schemas/ProfileResponse","description":"기본 프로필 정보"},"summarizedExperiences":{"type":"array","items":{"$ref":"#/components/schemas/SummarizedExperienceResponse"}},"generatedAt":{"type":"string","description":"이력서 생성 일시 (ISO 8601)","example":"2026-03-31T09:30:00"}}},"ProjectSummaryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"프로젝트 고유 ID","example":42},"title":{"type":"string","description":"프로젝트 제목","example":"스마트 캠퍼스 앱 개발"},"category":{"type":"string","description":"카테고리","example":"모바일"},"skills":{"type":"array","items":{"example":"React Native"}},"currentMembers":{"type":"integer","format":"int32","description":"현재 팀원 수","example":2},"maxMembers":{"type":"integer","format":"int32","description":"최대 팀원 수","example":4},"author":{"type":"string","description":"프로젝트 생성자 이름","example":"홍길동"},"createdAt":{"type":"string","description":"프로젝트 생성일 (yyyy-MM-dd)","example":"2026-03-01"}}},"ProjectListResponse":{"type":"object","properties":{"projects":{"type":"array","items":{"$ref":"#/components/schemas/ProjectSummaryResponse"}},"totalCount":{"type":"integer","format":"int64","description":"전체 프로젝트 수","example":42}}},"MyProjectResponse":{"type":"object","properties":{"project":{"$ref":"#/components/schemas/ProjectDetailResponse","description":"프로젝트 상세 정보"},"joinedAt":{"type":"string","description":"팀 합류일 (yyyy-MM-dd)","example":"2026-03-15"},"status":{"type":"string","description":"프로젝트 상태","enum":["recruiting","in-progress","completed"],"example":"recruiting"},"isOwner":{"type":"boolean","description":"프로젝트 생성자 여부","example":true}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"알림 고유 ID","example":15},"message":{"type":"string","description":"알림 메시지","example":"스마트 캠퍼스 앱 개발 프로젝트에 새 팀원이 지원했습니다."},"time":{"type":"string","description":"알림 수신 시각 (오전/오후 hh:mm)","example":"오전 09:30"},"read":{"type":"boolean","description":"읽음 여부","example":false}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","description":"세션 쿠키 기반 인증. /api/auth/login으로 로그인 후 자동 설정됩니다.","name":"JSESSIONID","in":"cookie"}}}}